body {
  background-color: grey;
}

#border2 {
  height: 75px;
  width: auto;
  border-style: double;
  padding-left: 20px;
}

#border2 h1 {
  float: left;
}

#border2 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 20px;
  padding-top: 30px;
}

#sidenav {
  height: 5.86in; /* Full-height: remove this if you want "auto" height */
  width: 1.67in; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */

  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

#sidenav p {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 20px;
  color: grey;
  display: block;
}

#sidenav p:hover {
  color: #f1f1f1;
}

#mainMenu {
  margin-left: 160px; /* Same as the width of the sidenav */
  height: 6in;
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  border-style: double;
}

#mainNewItem {
  margin-left: 100px; /* Same as the width of the sidenav */
  height: 6in;
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  border-style: double;
}
