body {
  background-color: darkgray;
}

#border {
  background: wheat;
  border-style: double;
  border-radius: 25px;
  height: 6.05in;
  position: fixed;
  width: 95%;
  margin-left: 20px;
  margin-top: 20px;
}

#header {
  height: 75px;
  border-style: double;
  padding-left: 20px;
  background: rosybrown;
}

#header h1 {
  float: left;
  color: antiquewhite;
}

#header p {
  margin: 15px 15px;
  text-align: right;
  background-color: coral;
  border-style: solid;
  padding: 10px;
  float: right;
}

#sidenav {
  margin-top: 15px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  border-radius: 24px 0px 0px 24px;
  border-right: solid black;
  background-color: wheat; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

#sidenav p {
  padding: 10px 8px 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: grey;
  display: block;
}

#sidenav p:hover {
  color: black;
}

#mainMenu {
  margin-left: 160px; /* Same as the width of the sidenav */
  height: 6in;
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#mainNewItem {
  margin-left: 100px; /* Same as the width of the sidenav */
  height: 6in;
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  border-style: double;
}
