<!DOCTYPE html>

<html>
    {% include "header.html" %}
  <head>
    <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}""></link>
  </head>


    <div id="sidenav">
      {% for category in categories %}

      <a href="{{url_for('showItems',catalog_id= category.id)}}"
        ><p>{{ category.name }}</p></a
      >
      
      {% endfor %}
    </div>

    <div id = "mainMenu">
        {% for item in items %}
        <a href = "{{url_for('showDescription',catalog_id = item.category.id,item_id = item.id)}}"><p>{{item.name}}</p></a>

        {% endfor %}
    </div>


  </body>
</html>
