<html>
  {% include "header.html" %}
  <head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}"></link>
  </head>
  
  <body>
    <div id = "border">
      <div id = "description">
        <h1 ><strong>Item Description</strong></h1>

        <p id = "descriptionText">{{ items.description }}</p>

        <a href="{{url_for('editItem',catalog_id = items.category.id,item_id = items.id)}}">
          Edit
          </a>

        <a href="{{url_for('deleteItem',catalog_id = items.category.id,item_id = items.id)}}">
          Delete
        </a>
      </div>
    </div>
  </body>
  {% include "footer.html" %}
</html>
