<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
  src="https://apis.google.com/js/client:platform.js?onload=start"
  async
  defer
></script>
<script>
  function start() {
    gapi.load("auth2", function() {
      auth2 = gapi.auth2.init({
        client_id:
          "584034947229-njfh2qj1oh2buh72cpkmh3cgcq02pjch.apps.googleusercontent.com"
      });
    });
  }
</script>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}"></link>
</head>


<body >
  <button id="signinButton">Google Signin</button>
  
  <div id="result"></div>
</body>

<script>
  $("#signinButton").click(function() {
    function signInCallback(authResult) {
      if (authResult["code"]) {
        $("#signinButton").attr("style", "display: none");
        $.ajax({
          type: "POST",
          url: "/gconnect?state={{STATE}}",
          headers: {
            "X-Requested-With": "XMLHttpRequest"
          },
          contentType: "application/octet-stream; charset=utf-8",
          success: function(result) {
            $("#result").html(result
             
            );
            setTimeout(function() {
              window.location.href = "/";
            }, 2000);
          },
          processData: false,
          data: authResult["code"]
        });
      } else {
        // handle error
        console.log("There was an error: " + authResult["error"]);
        $("#result").html(
          "Failed to make a server-side call. Check your configuration and console."
        );
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
