<!DOCTYPE html>

<html>
  <head>
    <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}""></link>
  </head>

  <body >
    <div id="border2">
      <h1>Categories</h1>
    </div>

    <div id="sidenav">
      {% for category in categories %}

      <a href="#"
        ><p>{{ category.name }}</p></a
      >

      {% endfor %}
    </div>

    <div id = "main">
            <a href="{{url_for('addNewItem')}}"><h3>Create new item</h3></a>
            {% for i in items %}
              <p>{{i.name}} - <i>{{i.category.name}}</i> </p>             
            {% endfor %}
    </div>
  </body>
</html>
