<!DOCTYPE html>

<html>
    {% include "header.html" %}
   
  <head>
    <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}""></link>
  </head>
  <body >
   
     <div id = "border" >   
        <div id="sidenav">
          {% for category in categories %}

          <a href="{{url_for('showItems',catalog_id=category.id)}}"
            ><p>{{ category.name }}</p></a>
          {% endfor %}
        </div>
        <div id = 'mainMenu'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                
              <p>
              {% for message in messages %}
                  <strong> {{ message }} </strong> 
              {% endfor %}
              </p>
              {% endif %}
          {% endwith %}
            <h2>New Items</h2>
              
                {% for i in items %}
                <a href = "{{url_for('showDescription',catalog_id = i.category.id,item_id = i.id)}}"><p>{{i.name}} - <i>{{i.category.name}}</i> </p>  </a>       
                {% endfor %}
                <a href="{{url_for('addNewItem')}}"><h4>Create new item</h4></a>
        </div>
      </div>
    
  </body>
  {% include "footer.html" %}
</html>
